<div>
    <h5 class="card-title">Recuperação de senha do usuário</h5>
    <p class="card-text">Informe seu email para recuperar a senha de acesso da aplicação.</p>

    <div class="row">
        <div class="col-md-6">

            <form [formGroup]="formPasswordRecover" (ngSubmit)="onSubmit()">
                <div class="row mb-3">
                    <label for="email" class="col-sm-4 col-form-label">Endereço de email:</label>
                    <div class="col-sm-8">
                        <input type="email" formControlName="email" class="form-control" id="email">
                        <div class="text-danger" *ngIf="form.email.touched && form.email.invalid">
                            Por favor, informe um email válido.
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary"
                    [disabled]="!formPasswordRecover.valid">
                    Recuperar Senha
                </button>
                &nbsp;
                <a [routerLink]="['/login']" class="btn btn-light">
                    Voltar para a página de login
                </a>
            </form>

            <div class="mt-2 mb-2">
                <strong>{{mensagem}}</strong>
            </div>

        </div>
    </div>

</div>